<link rel="stylesheet" href="/public/css/article.css">
<link rel="stylesheet" href="/public/css/footer.css">

<div id="progress"></div>



<article class="middle">
	<div class="header">
		<h1 class="article-title"><%= e.title%></h1>
		<div class="published-date">Published <%= e.date_published %></div>
	</div>
	<div class="image article">
		<div class="inset"></div>
	</div>


	<div class="article-details">
		<div class="author">
			<h3 class="fade">Written by&nbsp</h3>
			<h3><a href="<%= "https://panelmag.com/author/" + e.author_url %>"><%= e.author %></a></h3>
		</div>



		<div class="read-time">5 min read</div>
	</div>

	<div class="content"><%= e.content %></div>


</article>

<footer class="article">
	<div class="descriptor">
		<div class="fade">email.</div>
		<div class="fade">tel. no.</div>
	</div>
	<div class="field">
		<a class="footer" href="mailto:contact@panelmag.com">contact@panelmag.com</a>
		<a class="footer" href="tel:9378464465">937-846-4465</a>
	</div>
</footer>