<link rel="stylesheet" href="/public/css/article.css">

<h1 class="article-title"><%= e.title%></h1>
<div>Published <%= e.date_published %></div>

<div class="article-details">
	<div class="author">
		<h3 class="fade">Written by</h3>
		<h3><a href="<%= "https://panelmag.com/author/" + e.author_url %>"><%= e.author %></a></h3>
	</div>
	<div class="read-time">5 min read</div>
</div>

<div><%= e.content %></div>
