<link rel="stylesheet" href="/public/css/home.css">


<div class="splash">
	<% for(let i = 0; i < e.highlights.length; i++) { %>
	<% let active = ""%>
	<% if (i == 0) {active = " active"}%>
	<div class="<%= "splash-wrapper" + active %>" id="<%= 'splash_item_' + i %>">
		<a class="article-url" href="<%='/article/' + e.highlights[i].article_url%>"><%= e.highlights[i].title %></a>
		<div class="splash-details">
			<div class="author">
				<h3 class="fade">Written by</h3>
				<h3><a href="<%= "https://panelmag.com/author/" + e.highlights[i].author_url %>"><%= e.highlights[i].author %></a></h3>
			</div>
			<div class="read-time">5 min read</div>
		</div>
	</div>
	<%}%>
</div>


<div class="image">
	<div class="inset"></div>
</div>


<footer>
	<i class="material-icons" id="LEFT">arrow_back_ios</i>
	<div class="page-number">
		<span class="slide-index">1</span> of <%= e.highlights.length %>
	</div>
	<i class="material-icons" id="RIGHT">arrow_forward_ios</i>
</footer>
